<Html>
  <head>
    {% load static %}
    <title>  Web RTC  </title>
    <script src="{% static "js/modules/webtorrent.min.js" %}"></script>
    <script src="{% static "js/modules/dragdrop.min.js" %}" ></script>
    <script src="{% static "js/modules/jquery.min.js" %}"></script>
    <script src="{% static "js/util.js"%}"></script>
    <script src="{% static "js/download.js"%}"></script>
    
  </head>
  
  <body>
    <div class="seeder" >
    <textarea id="torrent"></textarea>
    <button onclick="start()"> Start</button>

    <p id="showFiles"></p>
    <p id="showprogress"></p>
    <div class="log">  </div>
    </div>

  </body>

    
</html>
