<Html>
  <head>
    {% load static %}
    <title>  Web RTC  </title>
    <script src="{% static "js/modules/webtorrent.min.js" %}"></script>
    <script src="{% static "js/modules/dragdrop.min.js" %}" ></script>
    <script src="{% static "js/modules/jquery.min.js" %}"></script>
    <script src="{% static "js/util.js"%}"></script>
    <script src="{% static "js/download.js"%}"></script>
    
  </head>

  
  <body>
{% for torrent in torrentURI %}
    <div class="downloader" id="div{{forloop.counter}}" value={{torrent.magnet_link}} >
    <button onclick="start(this.closest('div'))"> Start</button>

    <p id="showFiles"></p>
    <p id="showprogress"></p>
    <div class="log">  </div>
    </div>
{% endfor %}
  </body>

    
</html>
