<Html>
  <head>
    {% load static %}

    <title>  Seeding  </title>

    <script src="{% static "js/modules/webtorrent.min.js" %}"></script>
    <script src="{% static "js/modules/dragdrop.min.js" %}" ></script>
    <script src="{% static "js/modules/jquery.min.js" %}"></script>

  </head>

  <body>

    <div class="seeder" value="adsf">
    <p id="selectedFiles"></p>
    <input type="file" id="upload" multiple onchange="addFiles()"></input>
    {% csrf_token %}
    <button id="startSeeding" value="Seed" onclick="startSeeding(this.closest('div'))">Start Seeding</button>
    <button id="stopSeeding" value="" onclick="stopSeeding(this.closest('div'))" >Stop Seeding</button>
    <p id="returnedData"></p>
    <p id="showprogress"></p>

    <div class="log"></div>

  <script src="{% static "js/seed.js"%}"></script>
  <script src="{% static "js/util.js"%}"></script>

    </div>
  </body>

</html>





