body {background-color: lightyellow;}
h5 { text-align: right;}
h1 {text-align: center;}
#heading{ font-size: 24px; }
#summary { font-size: 24px;}
#download{ padding-left: 2%;
			padding-right: 1%; 
			background-color: lightblue;
      border-right: 2px dashed #333;
      height:100%;
         }
#Seed { padding-left: 1%;
		    padding-right: 0%;
		background-color: lightblue;
    border-left: 2px dashed #333;
      }
.row{height=100%;}
.bigcontainer{background-color: lightblue;height:inherit;padding-right: 1%;}

